.pfOnImg {
    position: relative; /* Make sure it's positioned relative to its parent container */
    background-color: transparent;
     top: -60px;
    left:-100%; /* Start completely off-screen to the left */
    transition: all 0.3s linear; /* Smooth transition when hovering */
}
.mainProDiv:hover .pfOnImg{
    left: 1%; 
}
.mainProDiv {
    position: relative;
    display: flex;
    box-shadow: 0 4px 6px 1px white;
    margin: 10px;
border-radius: 10px;
width: 100%;
height: 70vh;

  }
  
  .innerImg{

    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px 2px skyblue;
    border-radius: 10px;

}
.img{
    border-radius: 10px;
    overflow: hidden;

  }



